.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.548);
  }
  
  .logo-text {
    background: 50% 100%/50% 50% no-repeat radial-gradient(ellipse at bottom, #0056b3, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 2rem; /* Ajusta el tamaño según tus necesidades */
    font-weight: bold;
    animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
  }
  
  .logo-text span {
    color: #00BFFF;
  }
  
  @keyframes reveal {
    80% {
        letter-spacing: 4px;
    }
    100% {
        background-size: 300% 300%;
    }
  }
  
  @keyframes glow {
    40% {
        text-shadow: 0 0 8px #00BFFF;
    }
  }
  
  /* Navbar Styles */
  .navbar-nav .nav-link {
    color: #333641;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  .navbar-nav .nav-link:hover {
    color: #00BFFF;
  }
  
  .dropdown-menu {
    background-color: #00BFFF;
  }
  
  .dropdown-menu a {
    color: #fff;
  }
  
  /* Mobile Responsive */
  @media only screen and (max-width: 576px) {
    .navbar-nav {
        background-color: #00BFFF;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        z-index: 1;
        display: none;
    }
  
    .navbar-nav .nav-item {
        border-bottom: 1px solid #fff;
    }
  
    .navbar-nav .dropdown-menu {
        background-color: #00BFFF;
    }
  
    .navbar-toggler {
        display: block;
    }
  }
  
  .logo-container {
    height: 100%;
    overflow: hidden;
    background-color: #ffffff; /* Fondo blanco para el logo */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1; /* Para que ocupe el espacio restante */
  }
  
  .logo-img {
    max-width: 100px; /* Tamaño máximo para el logo */
    height: auto; /* Altura automática para mantener la proporción */
  }

#warehouse-video-section {
    background-color: #f4f4f4;
    text-align: center;
    padding: 80px 0; /* Aumentamos el padding para más altura */
  }
  
  .warehouse-section-title {
    margin-bottom: 60px; /* Aumentamos el margen inferior */
    color: #333;
  }
  
  .warehouse-video-wrapper {
    position: relative;
    width: 80%; /* Ajustamos la anchura */
    margin: 0 auto; /* Centramos horizontalmente */
    padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
    overflow: hidden;
    height: 0; /* Inicialmente, la altura es 0 */
    transition: height 0.5s ease; /* Transición suave para la altura */
    cursor: pointer; /* Cursor de puntero para indicar que es clickeable */
  }
  
  .warehouse-video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Aumentamos el z-index para que esté por encima del overlay */
  }
  
  .warehouse-video-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Color oscuro para el overlay */
    z-index: 2;
    display: none;
  }
  
  .warehouse-video-wrapper.expanded {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
  }

  hr.rounded {
    border-top: 8px solid #00BFFF;
    border-radius: 5px;
}
  
  .scroll-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #00BFFF;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    z-index: 9999;
    display: none; /* inicialmente oculto */
  }

  .gallery-section {
    width: 95%;
    margin: 0 auto;
    background-color: #00BFFF;
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .gallery-container {
    padding: 10px 0;
  }
  
  .gallery {
    display: inline-flex;
  }
  
  .gallery-item {
    width: 300px; /* Ajusta el ancho de las imágenes */
    height: auto; /* Para mantener la proporción */
    margin-right: 10px; /* Espacio entre las imágenes */
  }

  .video-section-grid {
    background-color: #fcfcfc; /* Color de fondo para resaltar */
    padding: 20px;
    text-align: center;
  }
  
  .video-container-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas en la cuadrícula */
    gap: 20px; /* Espacio entre los videos */
  }
  
  .video-item-grid {
    position: relative;
    padding-bottom: 56.25%; /* Proporción de aspecto 16:9 para videos */
  }
  
  .video-item-grid iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  
  /* Estilos específicos para el footer */
  footer {
    font-family: 'Roboto', sans-serif;
    background-color: #1f5a94;
    color: #f1f1f1;
    padding-top: 40px;
    padding-right: 60px;
  }
  
  .quicklink{
    color: #f1f1f1
  }
  
  
  
  @media (max-width: 767.98px) {
    .container-footer {
        max-width: 100%;
    }
    
    .col-md-3 {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }
  }
  
  /* Ajuste para Samsung Galaxy S8 */
  @media (max-width: 360px) {
    footer h5 {
        font-size: 1rem;
    }
    
    footer p {
        font-size: 0.8rem;
    }
    
    footer .btn {
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
    }
    
    footer img {
        width: 80px;
    }
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Espacio entre íconos y texto de derechos reservados */
  }
  
  .social-icons a {
    margin: 0 10px; /* Espacio entre íconos */
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    transition: color 0.3s;
  }
  
  .social-icons a:hover {
    color: #050801;
  }
  
  /* Texto de derechos reservados */
  .copyright {
    text-align: center;
    margin-top: 20px; /* Espacio entre íconos y texto de derechos reservados */
    color: #777; /* Color de texto gris */
  }