body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

header {
    text-align: center;
    padding: 50px 0;
    background-color: #3498db;
    color: #fff;
}

.services-section {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 11%;
}

.service-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-card {
    width: 300px;
    height: 420px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.service-card img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    padding-top: 15px;
}

.btn-servicios {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #3498db;
    color: #fff;
    margin-bottom: 0px;
    
}