body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.construction-page {
    background: url('/imagenes/aire.jpg') center/cover no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.construction-content {
    text-align: center;
    color: #3498db;
    font-weight: bolder;
}

.loader {
    width: 50px;
    height: 50px;
    border: 5px solid #fff;
    border-radius: 50%;
    border-top: 5px solid #3498db; /* Cambia el color según tus preferencias */
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.buttons {
    margin-top: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.social-icons img {
    width: 30px; /* Ajusta el tamaño según tus necesidades */
    margin: 0 5px; /* Añade margen entre los iconos */
}