body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

header {
    text-align: center;
    padding: 50px 0;
    background-color: #3498db;
    color: #fff;
}

hr {
    width: 50%;
    margin: 20px auto;
    border: 1px solid #fff;
}

p {
    max-width: 800px;
    margin: 0 auto;
}

.interactive-section {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
}

.column {
    flex: 1;
    padding: 20px;

}

.goal {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    height: 300px;
    
}

.button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #2ecc71;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #3498db;
    color: #fff;
}